@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face{
    font-family: "MyFont";
    src: url(../fonts/cour.ttf);
}

.font1{
    font-family: 'Lobster', cursive;
}

.font2{
    font-family: 'Roboto Slab', serif;
}

.font3{
    font-family: "MyFont";
}